.cards-seguro-automotriz {
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carousel-cards-seguro-automotriz {
    display: none;
}

.carousel-seguro-automotriz {
    width: 100%;
    max-width: 350px;
}

@media screen and (max-width: 1047px) {
    .carousel-cards-seguro-automotriz {
        display: flex;
        justify-content: center;
    }

    .cards-seguro-automotriz {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .carousel-seguro-automotriz {
        max-width: 321px;
    }
}