.button {
    background-color: #FF521B;
    border-radius: 20px;
    color: #FFFFFF;
    width: 228px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.bottom {
    margin: 30px;
}