.card-en-tu-region {
    width: 340px;
    height: 140px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
}

.title-card-en-tu-region {
    font-style: normal;
    font-weight: normal;
    font-size: 28.2174px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:800px) {
    .card-en-tu-region {
        width: 320px;
        height: 79px;
        font-size: 20px;
        line-height: 23px;
    }
}