.root {
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1060px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 21px;
}

.item {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.title {
    margin-top: 15px;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.rrss {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.rrss-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.derechos {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 16px;
}

@media screen and (max-width: 1060px) {
    .container {
        width: auto;
        margin-left: 23px;
        margin-right: 14px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .rrss {
        width: 100%;
        margin-top: 5px;
        justify-content: center;
    }
}