.cards-en-tu-region {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 340px;
}

.title-en-tu-region {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.boton-ver-mas {
    margin-top: 33px;
    text-decoration: none;
    width: 253px;
    height: 51px;
    background: #000000;
    border-radius: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 27.0481px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px) {
    .title-en-tu-region {
        font-size: 18px;
        line-height: 21px;
    }
}