.cards-marcas {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-marcas {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding: 0px 41px;
}

@media screen and (max-width: 800px) {
    .title-marcas {
        font-size: 18px;
        line-height: 21px;
    }

    .cards-marcas {
        margin-top: 50px;
        max-width: 320px;
    }
}