.root-nuestra-historia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.title-nuestra-historia {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 25px;
}

.container-nuestra-historia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.description-nuestra-historia {
    width: 50%;
    font-style: normal;
    font-weight: 300px;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
}

.content-nuestra-historia {
    width: 50%;
}

.img-nuestra-historia {
    width: 100%;
}

.desarrollo-nuestra-historia {
    font-style: normal;
    font-weight: 300px;
    font-size: 18px;
    line-height: 21.09px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.seguir-leyendo {
    display: none;
}

@media screen and (max-width: 1060px) {
    .root-nuestra-historia{
        width: auto;
        margin-left: 15px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 800px) {
    .root-nuestra-historia{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-nuestra-historia {
        flex-direction: column;
    }

    .content-nuestra-historia {
        width: 100%;
    }

    .description-nuestra-historia {
        width: auto;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 24px;
    }

    .desarrollo-nuestra-historia {
        margin-left: 30px;
        margin-right: 24px;
    }

    .title-nuestra-historia {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 16px;
    }

    .seguir-leyendo {
        width: 196px;
        height: 50px;
        background-color: #060606;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
}