.rootContacto {
    width: 100%;
    height: 500px;
    background-image: url(https://cds-landing.s3.sa-east-1.amazonaws.com/Rectangle_435_0ba3da0833.png);
}

.containerContacto {
    position: absolute;
    top: 133px;
    max-width: 390.65px;
    height: 367px;
    background-color: #FFFFFF;
    left: 10%;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asistenciasCardPageContacto {
    width: 100%;
    max-width: 435.15px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    margin-bottom: 31px;
    margin-left: 16px;
    margin-right: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url(https://cds-landing.s3.sa-east-1.amazonaws.com/Group_317_d5e8e77761.png);
    cursor: pointer;
}

.faqCardPageContacto {
    width: 100%;
    max-width: 435.15px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    margin-bottom: 31px;
    margin-left: 16px;
    margin-right: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url(https://cds-landing.s3.sa-east-1.amazonaws.com/Group_318_465fe299e1.png);
    cursor: pointer;
}

.cardHelpTitleContacto {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.llamanosContacto {
    width: 242px;
    height: 122px;
    border: 3px solid #FF521B;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bottomLlamanosContacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
}

.titleLlamanosContacto {
    font-style: normal;
    font-weight: bold;
    font-size: 33.6px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0;
}

.phoneLlamanosContacto {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

.contentContacto {
    margin-top: 55px;
}

@media screen and (max-width: 850px) {
    .rootContacto {
        background-position: center;
    }

    .containerContacto {
        left: 5%;
    }
}

@media screen and (max-width: 688px) {
    .rootContacto {
        background-position: center;
        background-image: url(https://cds-landing.s3.sa-east-1.amazonaws.com/Rectangle_439_c20fb12943.png);
    }

    .containerContacto {
        top: 450px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .contentContacto {
        margin-top: 360px;
    }
}

@media screen and (max-width: 437px) {
    .rootContacto {
        background-position: center;
        background-image: url(https://cds-landing.s3.sa-east-1.amazonaws.com/Rectangle_436_7d4c94b5c8.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 270px;
    }

    .containerContacto {
        background-position: center top;
        top: 199px;
    }
}

@media screen and (max-width: 387px) {
    .containerContacto {
        border-radius: 30px 0px 0px 0px;
    }
}