body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.rec-dot_active {
  background-color: #C4C4C4;
  box-shadow: 0 0 1px 3px #C4C4C4;
}

/* button.rec-dot {
  display: none;
} */

.cotiza-ahora-seguro-automotriz {
  text-decoration: none;
  margin-top: 35px;
  padding: 9px 15px;
  background-color: #FF521B;
  border-radius: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px #C4C4C4;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}

.contenido {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
}

.body {
  width: 100%;
  max-width: 1060px;
}

@media screen and (max-width: 800px) {
  .ocultar {
    display: none;
  }

  .contenido {
    margin-bottom: 450px;
  }
}

.root-header-home {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 415px;
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/inicio_header_9cc2a0b31b.png');
  background-position: center;
  background-repeat: no-repeat;
}

.container-header-home {
  display: flex;
  flex-direction: row-reverse;
}

.title-header-home {
  width: 407.96px;
  height: 100.73px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.description-header-home {
  margin-top: 25px;
  margin-bottom: 0;
  width: 413.9px;
  height: 89.43px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cotiza-ahora-header-home {
  width: 158.43px;
  height: 40.09px;
  border-radius: 32px;
  background-color: #FF521B;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  .root-header-home {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/inicio_header_md_3093dcfe7e.png');
  }

  .description-header-home {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .title-header-home {
    width: 160px;
    height: 39px;
    font-size: 20px;
    line-height: 21px;
    margin-top: 19px;
  }

  .description-header-home {
    margin-top: 13px;
    width: 229px;
    height: 41px;
    font-size: 14px;
    line-height: 14px;
  }

  .cotiza-ahora-header-home {
    width: 93.11px;
    height: 22.7px;
    border-radius: 18.623px;
    font-size: 12.4754px;
    line-height: 12px;
    margin-top: 13px;
  }
}

.root-header-movil-home {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-movil-home {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_header_md_inicio_092e920902.png');
  background-position: center;
  background-repeat: no-repeat;
}

.container-header-movil-home {
  width: 400px;
  height: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 35px 35px 0px 0px;
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 500px) {
  .container-header-movil-home {
    width: 272px;
  }
}

@media screen and (max-width: 400px) {
  .header-movil-home {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/inicio_header_movil_4f30c37228.png');
  }
}

.root-how-to-quote {
  margin-top: 88px;
  margin-bottom: 27px;
}

.title-how-to-quote {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 47px;
  text-align: center;
}

.container-cards-how-to-quote {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flecha-how-to-quote {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .root-how-to-quote {
    margin-top: 100px;
  }

  .title-how-to-quote {
    font-size: 24px;
    line-height: 28px;
  }

  .flecha-how-to-quote {
    margin-left: 30px;
  }
}

@media screen and (max-width: 400px) {
  .flecha-how-to-quote {
    display: none;
  }
}

.root-card-how-to-quote {
  width: 218px;
  width: 218px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-card-how-to-quote {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card-how-to-quote {
  width: 95.75px;
  height: 30.64px;
  border: 2px solid #FF521B;
  border-radius: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24.6225px;
  line-height: 29px;
  text-align: center;
  color: #FF521B;
}

.description-how-to-quote {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 17.2358px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 960px) {
  .description-how-to-quote {
    font-size: 14px;
    line-height: 14px;
  }
}

.cards-blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards-blogs-movil {
  display: none;
}

@media screen and (max-width: 800px) {
  .cards-blogs-movil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cards-blogs {
    display: none;
  }
}

.root-card-blog {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
  height: 253.99px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  cursor: pointer;
}

.img-card-blog {
  width: 100%;
  height: 145.7px;
  border-radius: 20px 20px 0px 0px;
}

.description-card-blog {
  margin-top: 31px;
  margin-left: 26px;
  margin-right: 18px;
  margin-bottom: 14.77px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-overflow: Ellipsis;
  white-space: normal;
  overflow: hidden;
}

.title-card-blog {
  position: absolute;
  right: 0%;
  top: 47%;
  min-width: 80px;
  padding: 0px 18px;
  height: 29.53px;
  background: #FF521B;
  border-radius: 20px 0px 0px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 12.973px;
  line-height: 15px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root-container-cotiza-ahora-con-nosotros {
  width: 100%;
  border-radius: 48px 52px 52px 52px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-cotiza-ahora-con-nosotros {
  width: 50%;
  height: 206px;
  background-size: cover;
  background-position: center;
  border-radius: 48px 0px 0px 52px;
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/cotiza_ahora_con_nosotros_5c054c8be5.png');
}

.content-cotiza-ahora-con-nosotros {
  width: 50%;
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title-cotiza-ahora-con-nosotros {
  margin-top: 30px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 44.313px;
  line-height: 52px;
  text-align: center;
  color: #FF521B;
}

.description-cotiza-ahora-con-nosotros {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 44.313px;
  line-height: 52px;
  text-align: center;
}

.bottom-cotiza-ahora-con-nosotros {
  border-radius: 0px 0px 52px 0px;
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: #FF521B;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .root-container-cotiza-ahora-con-nosotros {
    flex-direction: column;
  }

  .img-cotiza-ahora-con-nosotros {
    width: 100%;
    height: 245px;
    border-radius: 52px 52px 0px 0px;
  }

  .content-cotiza-ahora-con-nosotros {
    width: 100%;
    height: 150px;
  }

  .bottom-cotiza-ahora-con-nosotros {
    border-radius: 52px;
    height: 51px;
  }

  .title-cotiza-ahora-con-nosotros {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 28px;
  }

  .description-cotiza-ahora-con-nosotros {
    font-size: 24px;
    line-height: 28px;
  }
}

.root-importancia-elegirnos {
  margin-top: 25px;
  margin-bottom: 36px;
}

.title-importancia-elegirnos {
  margin-left: 48px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 33.913px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 30px;
}

.card-importancia-elegirnos {
  width: 278.48px;
  background-color: #FBFBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.title-card-importancia-elegirnos {
  margin-left: 26.62px;
  padding-top: 16px;
  margin-right: 16.71px;
  height: 61px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.name-importancia-elegirnos {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 24px;
  margin: 0;
}

.cards-importancia-elegirnos {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .title-importancia-elegirnos {
    margin-left: 24px;
    margin-right: 18px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #5A5A5A;
    margin-bottom: 34px;
  }

  .cards-importancia-elegirnos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .root-importancia-elegirnos {
    margin-top: 34px;
    margin-bottom: 26px;
  }

  .name-importancia-elegirnos {
    color: #727171;
  }
}

.root-porque-elegir-el-club {
  width: 100%;
  height: 330px;
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/porque_Elegir_El_Club_aeabf34180.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.content-porque-elegir-el-club {
  width: auto;
  max-width: 391px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

.title-porque-elegir-el-club {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

.description-porque-elegir-el-club {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .content-porque-elegir-el-club {
    margin-right: 20px;
  }
}

@media screen and (max-width: 870px) {
  .root-porque-elegir-el-club {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/porque_Elegir_El_Club_md_360f258d67.png');
    background-position: top right;
  }

  .content-porque-elegir-el-club {
    margin-right: 5px;
  }


}

@media screen and (max-width: 796px) {
  .content-porque-elegir-el-club {
    margin-right: 0px;
    width: 300px;
  }
}

@media screen and (max-width: 590px) {
  .root-porque-elegir-el-club {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/porque_Elegir_El_Club_movil_8dbb8e5401.png');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 284px;
  }

  .title-porque-elegir-el-club {
    font-size: 16px;
    line-height: 16px;
  }

  .description-porque-elegir-el-club {
    font-size: 12px;
    line-height: 12px;
  }

  .content-porque-elegir-el-club {
    height: 150px;
    display: flex;
  }
}

.root-quienes-respaldan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.title-quienes-respaldan {
  font-style: normal;
  font-weight: 300;
  font-size: 46.4761px;
  line-height: 54px;
  text-align: center;
  color: #FF521B;
}

.logos-quienes-respaldan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo-quienes-respaldan {
  width: 194px;
  height: 129px;
  background: #F8F4F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  cursor: pointer;
}

.ver-mas-quienes-respaldan {
  margin-top: 37px;
  width: 228px;
  height: 46px;
  background-color: #FF521B;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}

.root {
  width: 100%;
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1060px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 21px;
}

.item {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.title {
  margin-top: 15px;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  font-feature-settings: 'pnum'on, 'lnum'on;
}

.content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  font-feature-settings: 'pnum'on, 'lnum'on;
}

.rrss {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.rrss-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.derechos {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1060px) {
  .container {
    width: auto;
    margin-left: 23px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

  .rrss {
    width: 100%;
    margin-top: 5px;
    justify-content: center;
  }
}

/* Estilos del navbar */

.topbarmovil-header {
  display: none;
  width: 100%;
}

.topbar-header {
  width: 100%;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 940px) {
  .topbarmovil-header {
    display: flex;
  }

  .topbar-header {
    display: none;
  }
}

/* Estilos CardsHelp */
.root-cards-help {
  width: 100%;
  min-height: 730px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.card-contacto-help {
  width: 100%;
  max-width: 430px;
  height: 730px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.cards-help {
  width: 100%;
  max-width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-help {
  width: 100%;
  max-width: 610px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.card-help-title {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 52px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.asistencia-img {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_asistencia_0247606954.png');
  background-position: center top;
  height: 319px;
}

.faq-img {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_faq_31f8a3ca2e.png');
  background-position: center top;
  height: 283px;
}

.contacto-img {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_contacto_d7cc563032.png');
  background-position: center top;
  height: 678px;
}

@media screen and (max-width: 800px) {
  .root-cards-help {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .cards-help {
    align-items: center;
  }

  .card-help {
    width: 320px;
    height: 300px;
    margin-top: 35px;
  }

  .card-contacto-help {
    width: 320px;
    max-width: 400px;
    height: 300px;
    margin-top: 31px;
    padding: 0;
  }

  .card-help-title {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 33px;
  }

  .asistencia-img {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_asistencia_movil_68073a4ece.png');
    height: 267px;
  }

  .faq-img {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_faq_movil_68ca9d859d.png');
    height: 267px;
  }

  .contacto-img {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_contacto_movil_3301833a6c.png');
    height: 267px;
  }
}

/* Card xl blogs */
.root-card-xl-blog {
  width: 517px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
  height: 253.99px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 65px;
  text-decoration: none;
  cursor: pointer;
}

.img-card-xl-blog {
  width: 100%;
  height: 145.7px;
  border-radius: 20px 20px 0px 0px;
}

.description-card-xl-blog {
  margin-top: 31px;
  margin-left: 53px;
  margin-right: 37px;
  margin-bottom: 14.77px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: justify;
  text-overflow: Ellipsis;
  white-space: normal;
  overflow: hidden;
}

.title-card-xl-blog {
  position: absolute;
  right: 0%;
  top: 47%;
  min-width: 200.82px;
  padding: 0px 18px;
  height: 29.53px;
  background: #FF521B;
  border-radius: 20px 0px 0px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 12.973px;
  line-height: 15px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 800px) {
  .root-card-xl-blog {
    display: none;
  }
}

/* Estilo de blogs */
.item-paginator-blogs {
  margin-left: 10px;
  width: 34.37px;
  height: 34.37px;
  background-color: #FFFFFF;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15.864px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.selected-item-paginator-blogs {
  background-color: #FF521B;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: default;
}

/* 404 Estilos */
.root-error-page {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 33px;
}

.root-header-error-page {
  width: 100%;
  height: 470px;
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/Rectangle_106_6a990c3b22.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header-error-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-error-page {
  width: 392px;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.description-error-page {
  width: auto;
  max-width: 390px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-left: 60px;
}

.cards-error-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 35px;
}

.cards-left-error-page {
  width: 100%;
  max-width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-contacto-error-page {
  text-decoration: none;
  max-width: 430px;
  width: 100%;
  height: 430px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  background-position: center top;
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_contacto_ef66fb5538.png');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-error-page {
  text-decoration: none;
  width: 100%;
  height: 131px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  background-position: center top;
  cursor: pointer;
}

.volver-inicio-error {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_volver_inicio_38ed4d5a57.png');
  background-position: center top;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.beneficio-error {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_beneficio_0a9cbbf67d.png');
  background-position: center top;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.faq-error {
  background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_faq_29b6da9289.png');
  background-position: center top;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacto-responsive {
  display: none;
}

@media screen and (max-width:1040px) {
  .header-error-page {
    flex-direction: column;
  }

  .contacto-responsive {
    display: flex;
  }

  .contacto-oculto {
    display: none;
  }

  .cards-left-error-page {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .title-error-page {
    width: auto;
    font-size: 24px;
    line-height: 28px;
  }

  .description-error-page {
    margin-left: 0;
    margin-top: 30px;
    padding: 0px 14px;
  }

  .card-contacto-error-page {
    width: 320px;
    height: 300px;
    font-size: 36px;
    line-height: 42px;
    align-items: flex-end;
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_contacto_movil_8c58f3f2e4.png');
    cursor: pointer;
  }

  .card-error-page {
    width: 320px;
    height: 300px;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 14px;
    align-items: flex-end;
  }

  .cards-left-error-page {
    align-items: center;
  }

  .volver-inicio-error {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_volver_inicio_movil_ba5e1ec42f.png');

  }

  .beneficio-error {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_beneficio_movil_471f33771a.png');

  }

  .faq-error {
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_faq_movil_73bee76270.png');

  }

  .content-card-error {
    padding-bottom: 41px;
  }
}

@media screen and (max-width: 480px) {
  .root-header-error-page {
    height: 250px;
    background-image: url('https://cds-landing.s3.sa-east-1.amazonaws.com/img_header_movil_error_page_2452a74902.png');
  }
}

/* Estilos cards seguro automotrix */
.cards-seguro-automotriz {
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.carousel-cards-seguro-automotriz {
  display: none;
}

.carousel-seguro-automotriz {
  width: 100%;
  max-width: 350px;
}

@media screen and (max-width: 1047px) {
  .carousel-cards-seguro-automotriz {
    display: flex;
    justify-content: center;
  }

  .cards-seguro-automotriz {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .carousel-seguro-automotriz {
    max-width: 321px;
  }
}

/* Estilos card seguro automotriz */
.card-seguro-automotriz {
  width: 348.72px;
  height: 535px;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.container-seguro-automotriz {
  width: 438.72;
  height: 516.11px;
  background-color: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 23px;
}

.img-card-seguro-automotriz {
  width: 100%;
  height: 93.48px;
  border-radius: 0px 23px 0px 0px;
}

.button-seguro-automotriz {
  position: absolute;
  bottom: 0px;
  width: 193.18px;
  height: 39.78px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF521B;
  border-radius: 35px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}

.header-card-seguro-automotriz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 34px;
}

.subheader-seguro-automotriz {
  display: flex;
  flex-direction: column;
}

.content-card-seguro-automotriz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: start;
  margin-bottom: 7px;
  height: 47.73px;
}

.body-card-seguro-automotriz {
  margin-top: 31px;
  margin-left: 32px;
  margin-right: 40px;
}

.text-card-seguro-automotriz {
  margin-left: 21px;
}

@media screen and (max-width: 500px) {
  .card-seguro-automotriz {
    width: 321px;
    height: 539px;
  }

  .button-seguro-automotriz {
    width: 195.55px;
    height: 40px;
    text-decoration: none;
  }
}

/* Estilos card en tu region */
.card-en-tu-region {
  width: 340px;
  height: 140px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}

.title-card-en-tu-region {
  font-style: normal;
  font-weight: normal;
  font-size: 28.2174px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width:800px) {
  .card-en-tu-region {
    width: 320px;
    height: 79px;
    font-size: 20px;
    line-height: 23px;
  }
}

.cards-en-tu-region {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 340px;
}

.title-en-tu-region {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.boton-ver-mas {
  margin-top: 33px;
  text-decoration: none;
  width: 253px;
  height: 51px;
  background: #000000;
  border-radius: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 27.0481px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  .title-en-tu-region {
    font-size: 18px;
    line-height: 21px;
  }
}

.root-card-region {
  width: 313px;
  height: 144px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FF521B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}

.title-card-region {
  font-style: normal;
  font-weight: bold;
  font-size: 29.2174px;
  line-height: 34px;
  text-align: center;
  color: #202020;
  margin: 0px 21px;
}

@media screen and (max-width: 940px) {
  .root-card-region {
    width: 295px;
    height: 144px;
  }
}

/* Estilos card marca */

.card-marcas {
  width: 331px;
  display: flex;
  flex-direction: column;
  background-color: #E4E4E4;
  border-radius: 21px;
  margin-top: 20px;
  justify-content: space-between;
}

.header-card-marcas {
  margin-top: 29px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 29.2174px;
  line-height: 34px;
  padding-left: 26px;
}

.body-card-marcas {
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 26.9286px;
  line-height: 32px;
  text-align: start;
  padding-left: 26px;
}

.footer-card-marcas {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 14.8966px;
  line-height: 17px;
  text-align: center;
}

.ver-mas-card-marcas {
  padding-top: 5px;
  padding-left: 16px;
  padding-bottom: 8.09px;
  padding-right: 16.73px;
  background-color: #000000;
  border-radius: 21px 0px 21px 0px;
}

.text-header-card-marcas {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .card-marcas {
    width: 320px;
  }
}

.cards-marcas {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-marcas {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding: 0px 41px;
}

@media screen and (max-width: 800px) {
  .title-marcas {
    font-size: 18px;
    line-height: 21px;
  }

  .cards-marcas {
    margin-top: 50px;
    max-width: 320px;
  }
}


/* Estilos CardMarcaIcon */
.root-card-marca-icon {
  width: 156px;
  height: 144px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FF521B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  text-decoration: none;
  cursor: pointer;
}

.root-card-marca-icon-title {
  width: 156px;
  height: 144px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FF521B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0px;
  text-decoration: none;
  cursor: pointer;
}

.nombre-marca-card-marca-icon {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #202020;
}

.img-marca-card-marca-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .root-card-marca-icon {
    width: 140.94px;
    height: 130.1px;
    margin: 11px 0px;
  }

  .root-card-marca-icon-title {
    width: 140.94px;
    height: 130.1px;
    margin: 11px 0px;
  }

  .nombre-marca-card-marca-icon {
    font-size: 16.2628px;
    line-height: 19px;
  }

  .img-marca-card-marca-icon {
    height: 90px;
  }
}

/* Card model */
.root-card-model {
  width: 238px;
  height: 144px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FF521B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  text-decoration: none;
}

.title-card-model {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #202020;
}

/* Card Comuna */
.root-card-comuna {
  width: 313px;
  height: 90px;
  background: #FFFFFF;
  border: 1px solid #FF521B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  margin-bottom: 30px;
  text-decoration: none;
}

.title-card-comuna {
  font-style: normal;
  font-weight: normal;
  font-size: 29.2174px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}