.root-card-marca-icon {
    width: 156px;
    height: 144px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FC8100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    text-decoration: none;
}

.root-card-marca-icon-title {
    width: 156px;
    height: 144px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FC8100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
    text-decoration: none;
}

.nombre-marca-card-marca-icon {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #202020;
}

.img-marca-card-marca-icon {
    height: 120px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@media screen and (max-width: 400px) {
    .root-card-marca-icon {
        width: 140.94px;
        height: 130.1px;
        margin: 11px 0px;
    }

    .root-card-marca-icon-title {
        width: 140.94px;
        height: 130.1px;
        margin: 11px 0px;
    }

    .nombre-marca-card-marca-icon {
        font-size: 16.2628px;
        line-height: 19px;
    }

    .img-marca-card-marca-icon {
        height: 90px;
    }
}